@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

/*a:hover { text-decoration:underline; } */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 0.21333333rem;
  font-family: Arial, '微软雅黑'; }

header {
  width: 100%;
  height: 6.76329rem;
  background: url(../imgs/back.png) no-repeat;
  background-size: 100% 100%; }

section {
  width: 100%;
  height: 8.45411rem; }
  section .phono {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.3285rem;
    font-size: 0.43478rem; }
    section .phono .phono1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 85%;
      height: 1.3285rem;
      border-bottom: 1px solid #ccc;
      font-size: 32 82.8rem; }
      section .phono .phono1 input {
        width: 55%;
        height: 98%;
        border: none;
        outline: none; }
      section .phono .phono1 p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50%;
        border: 1px solid #EA4C89; }
        section .phono .phono1 p a {
          font-size: 0.33816rem;
          color: #EA4C89; }
  section > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 1.08696rem;
    background: #EA4C89;
    margin: 0 auto;
    border-radius: 0.96618rem;
    margin-top: 0.43478rem; }
    section > p a {
      font-size: 0.43478rem;
      color: #fff; }
  section .wechat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 2.41546rem;
    border-top: 1px solid #B7B7B7;
    margin-top: 1.20773rem; }
    section .wechat p {
      position: absolute;
      top: -0.24155rem;
      display: flex;
      justify-content: center;
      width: 40%;
      font-size: 0.28986rem;
      color: #B7B7B7;
      background: #fff; }
    section .wechat a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70%; }
      section .wechat a img {
        margin-top: 0.24155rem;
        width: 20%;
        height: 48%; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0.72464rem;
  margin-top: 1.44928rem; }
  footer p {
    font-size: 0.28986rem;
    letter-spacing: 0.02415rem; }
    footer p a {
      color: #13BBEF; }

/*# sourceMappingURL=sass.css.map */
